body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: green;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333333;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.bio {
    margin-bottom: 20px;
}

h2 {
    color: black;
}

.contact-info {
    margin-bottom: 20px;
}

table {
    width: 75%;
}

table td {
    padding: 10px;
}

table td:first-child {
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: red;
}
